.textcenter {
    text-align: center;
}

a.link_bar{
    color: black;
    font-family: Gabriola;
    text-align: center;
}


a.guestbooklink{
    color: black;
    font-family: "Brush Script MT";
    font-size: larger;
}

body
{
    background-image: url("/imgs/background.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.table_bg {
    background-image: url("/templates/gayle_phil_wedding/imgs/table_bg.png");
    background-repeat: repeat;
}

.guestname {
    font-family: "Brush Script MT";
    color: #9F09A4;
    font-size: larger;
}

.guesttime {
    font-family: "Brush Script MT";
    color: brown;
    font-size: larger;
}

.script_header {
    font-family: "Brush Script MT";
    color: #000000;
    font-size: 92pt;
}

.links_style {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #000000;
    text-transform: capitalize;
}

.imagecss {
    border-style:none;
    border-color: black;
    z-index: 1;
}

.details_header
{
    font-family: "Brush Script MT";
    text-align: center;
    color:black;
    font-size:64px;
}

.details_body {
    font-family: Gabriola;
    font-size: x-large;
    font-weight: bold;
    color:black;
}
.style13 {
    border: 2px solid #9F09A4;
}

.style15 {
    border-collapse: collapse;
    border: 2px solid #9F09A4;
}

.details_table_body {
    border: 2px solid #000000;
    background-color: #C0C0C0;
}

.photos_table {
    border-style: solid;
    border-width: 2px;
    font-family: Gabriola;
    font-size: x-large;
    font-weight: bold;
    color: black;
}
